@media screen and (min-width: 769px) {
    .main-header .top-header-section p {
        font-size: 1.5rem;
    }
    .main-header .top-header-section i {
        font-size: 1.5rem;
    }
    .mid-header-section .main-navbar a {
        font-size: 1.5rem;
    }
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .precios {
        font-size: 1.5vw;
    }
    .descuentos {
        font-size: 1.5vw;
    }
    /*================================== FOOTER CONTENT =====================================*/
    footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .footer-items {
        width: 33%;
    }
    .iconos:hover {
        color: #1a731a;
    }
    /*================================== FORM REGISTER =====================================*/
    main {
        align-content: center;
        align-self: center;
    }
    header {
        align-content: center;
    }
    body {
        align-content: center;
    }
    .formAreaRegister fieldset {
        font-size: 2rem;
    }
    .formAreaRegister label {
        font-size: 1.5rem;
    }
    .formAreaRegister .passField {
        font-size: 1.5rem;
    }
}