@media screen and (min-width: 769px) {
    header {
        align-content: center;
    }
    body {
        align-content: center;
    }
    .main-header .top-header-section p {
        font-size: 1.5rem;
    }
    .main-header .top-header-section i {
        font-size: 1.5rem;
    }
    .mid-header-section .main-navbar a {
        font-size: 1.5rem;
    }
}