/*================================== MAIN CONTENT ==============================================*/

main {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ebebeb;
    width: 100%;
}

.ofertas {
    font-size: 24px;
    color: #666;
    padding: 1rem;
    margin-top: 10px;
}

.articleBox {
    margin-bottom: 10px;
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    transition: box-shadow 0.5s ease-in-out;
}

.articleBox:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.articleBox:hover .articleDescription .descripciones {
    visibility: visible;
    display: block;
}

.articleBox figure img {
    display: flex;
    width: 100%;
}

.articleDescription {
    position: relative;
    flex-grow: 1;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.descripciones {
    margin-top: 1rem;
    visibility: hidden;
    font-size: 16px;
    text-align: center;
}

.precios {
    font-size: 18px;
    flex-grow: 0.3;
}

.descuentos {
    color: #39b54a;
    font-size: 16px;
    flex-grow: 0.7;
}

.logoEnvio {
    color: #39b54a;
    transition: transform 0.5s;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.logoEnvio:hover {
    transform: rotateZ(-90deg)
}


/*================================== FORMS CONTENT =====================================*/

.formItems {
    display: flex;
    flex-wrap: wrap;
}

.formAreaRegister {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    row-gap: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1900px;
    flex-wrap: wrap;
}

.formAreaRegister label {
    padding: 0.5rem;
    font-size: 14px;
    font-style: italic;
}

.formAreaRegister fieldset {
    width: 100%;
    height: 100%;
    max-width: 80rem;
}

.inputTextFieldLogin {
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    padding-left: 10px;
}

.inputTextFieldRegister {
    background-color: #ebebeb;
    margin-top: 0;
    border: none;
    border-bottom: 2px solid #D1D1D4;
    display: flex;
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    padding-left: 10px;
    justify-content: center;
}

#password {
    margin-bottom: 0.3rem;
    border-bottom: 2px solid #D1D1D4;
}

.sendButton {
    width: 100%;
    max-width: 200px;
    height: 30px;
    text-align: center;
    background-color: #1259c3;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 300;
    border: none;
    box-sizing: border-box;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.buttonField {
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.control {
    width: 100%;
    padding: 8px 8px;
}

.formDialog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #ebebeb;
    padding: 20px 15px;
    align-items: center;
}

.labelDateField {
    margin-bottom: 0;
}

.labelField {
    margin-bottom: 0;
}

.dateInput {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background-color: #ebebeb;
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    padding-left: 10px;
}

.optionSelect select {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    font-size: 12px;
    background-color: #ebebeb;
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    padding-left: 10px;
}

.passField {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.loginButton {
    width: 100%;
    max-width: 200px;
    height: 30px;
    text-align: center;
    background-color: #1259c3;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 300;
    border: none;
    box-sizing: border-box;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.buttonField a {
    justify-content: center;
    display: flex;
    width: 50%;
    max-width: 100px;
    padding-top: 1rem;
    text-decoration: none;
}

.loginButton:hover {
    background-color: #0022AA;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #1259c3;
    font-size: 1.4rem;
}

.registerIcon {
    top: 30px;
    color: #1259c3;
    font-size: 1.4rem;
}

.login__field {
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding: 20px 0px;
    position: relative;
    align-items: center;
    padding-bottom: 1rem;
}

.login__input {
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 60vw;
    transition: .2s;
}

.login__input label {
    font-size: 1.2rem;
}

.formDialog .login__field {
    width: 100%;
    justify-content: center;
}

.sendButton:hover {
    background-color: #0022AA;
}