@media (min-width: 480px) {
    /*================================= HEADER CONTENT ============================================*/
    /*++++ TOP HEADER +++++*/
    .top-header-section a {
        width: 30vw;
    }
    .top-header-section p {
        width: 20vw;
    }
    .searchBar {
        width: 35vw;
    }
    .top-header-section .headerFrase {
        font-size: 1.2rem;
        gap: 1rem;
        padding-left: 1rem;
    }
    .top-header-section .headerFrase i {
        align-self: center;
    }
    /*++++ MID HEADER +++++*/
    .mid-header-section .main-navbar {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }
    .mid-header-section a {
        font-size: 1.2rem;
        color: #03264C;
        padding: 5px 0;
    }
    .site {
        display: flex;
        gap: 1rem;
    }
    .loginNavbar {
        display: flex;
        gap: 1rem;
    }
    /*++++ BOTTOM HEADER +++++*/
    #burgerMenu {
        display: none;
    }
    /*==================================== MAIN CONTENT ============================================*/
    .articleBox {
        transition: box-shadow 0.5s ease-in-out;
        gap: 0.4rem;
    }
    .articleBox:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .articleDescription {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .precios {
        font-size: 3vw;
        flex-basis: 50%;
        width: 50%;
    }
    .descuentos {
        font-size: 3vw;
        flex-basis: 50%;
        width: 50%;
    }
    .descripciones {
        flex-basis: 100%;
        justify-content: center;
        width: 100%;
        color: #666;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    /*==================================== FORM CONTENT ============================================*/
    .inputTextFieldLogin {
        max-width: 390px;
    }
    .inputTextFieldRegister {}
    .formItemsLogin {
        justify-content: center;
    }
}