<main>
    <form action="/login.html" method="post" class="formDialog">
        <fieldset class="formItems">
            <label for="usuario"></label>
            <input type="text" name="usuario" placeholder="Ingresa tu nombre de usuario" pattern="Usuario o contraseña incorrectos" required class="textInput">
        </fieldset>
        <fieldset class="formItems">
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña" pattern="Usuario o contraseña incorrectos" required class="textInput">
        </fieldset>
        <fieldset class="formItems">
            <a href="https://merk2liebre.herokuapp.com/">
                <input type="button" value="Enviar" name="return" class="loginButton">
        </fieldset>
    </form>
</main>