<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="/css/tablet.css">
    <link rel="stylesheet" href="/css/desktop.css">
</head>

<body>
    <header class="main-header">
        <section class="top-header-section">
            <a>
                <img src="images/logo-mercado-liebre.svg" alt="logo" class="logoMeli" />
            </a>
            <form action="/" method="GET" class="searchBar">
                <fieldset class="formItems">
                    <input type="text" name="barraBusqueda" placeholder="Buscar productos, marcas " />
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </fieldset>
            </form>
            <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        <section class="mid-header-section">
            <nav id="burgerMenu">
                <a href="">
                    <i class="fas fa-bars burger-menu burgerIcon"></i>
                </a>
            </nav>
            <div class="main-navbar">
                <nav class="loginNavbar">
                    <a href="" style="text-decoration: none">Ofertas</a>
                    <a href="" style="text-decoration: none">Tiendas Oficiales</a>
                    <a href="" style="text-decoration: none">Vender</a>
                    <a href="" style="text-decoration: none">Ayuda</a>
                </nav>
                <nav class="site">
                    <a href="/register.html" style="text-decoration: none">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a>
                    <a href="/login.html" style="text-decoration: none">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    <a href="" style="text-decoration: none">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                </nav>
            </div>
        </section>
        <section class="bottom-header-section">
            <figure>
                <img src="/images/img-home-banner.jpg" alt="">
            </figure>
        </section>
    </header>

    <main>
        <form action="/login.html" method="post" class="formDialog">
            <fieldset class="formItems">
                <label for="usuario"></label>
                <input type="text" name="usuario" placeholder="Ingresa tu nombre de usuario" pattern="Usuario o contraseña incorrectos" required class="inputTextField">
            </fieldset>
            <fieldset class="formItems">
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña" pattern="Usuario o contraseña incorrectos" required class="inputTextField">
            </fieldset>
            <fieldset class="buttonField">
                <a href="https://merk2liebre.herokuapp.com/">
                    <input type="button" value="Ingresar" name="return" class="loginButton"></a>
            </fieldset>
        </form>
    </main>

    <footer>
        <section>
            <i class="fa-solid fa-credit-card iconos"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift iconos"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield iconos"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
    </footer>
</body>
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</html>